@{
    Layout = "_AutLayout";
}
@model Northwind.Contracts.Dto.Authentication.UserLoginDto

<div>
   
          <p class="mb-4">Please sign-in to your account and start the adventure</p>

          <form id="formAuthentication" class="mb-3" asp-action="Login" method="POST" asp-router-returnUrl="@ViewData["ReturnUrl"]">
              <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-3">
              <label asp-for="Email" class="form-label">Email or Username</label>
              <input asp-for="Email" class="form-control"placeholder="Enter your email or username" 
                                                    autofocus>
                 <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3 form-password-toggle">
              <div class="d-flex justify-content-between">
                <label class="form-label" asp-for="Password">Password</label>
                <a href="#">
                  <small>Forgot Password?</small>
                </a>
              </div>
              <div class="input-group input-group-merge">
                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
              </div>
            </div>
            <div class="mb-3">
              <div class="form-check">
                <input class="form-check-input" asp-for="RememberMe">
                <label class="form-check-label" for="remember-me">
                  Remember Me
                </label>
              </div>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
            </div>
          </form>

          <p class="text-center">
            <span>New on our platform?</span>
            <a asp-controller="Account" asp-action="Register">
              <span>Create an account</span>
            </a>
          </p>
</div>
    @section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
