@-moz-keyframes slider {
    0% {
        left: 0;
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    20% {
        left: 0;
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        left: -768px;
        opacity: 1;
    }

    45% {
        left: -768px;
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    48% {
        opacity: 0;
    }

    50% {
        left: -1536px;
        opacity: 1;
    }

    70% {
        left: -1536px;
        opacity: 1;
    }

    72% {
        opacity: 0;
    }

    74% {
        opacity: 0;
    }

    75% {
        left: -2304px;
        opacity: 1;
    }

    95% {
        left: -2304px;
        opacity: 1;
    }

    97% {
        left: -2304px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 0;
    }
}

@-webkit-keyframes slider {
    0% {
        left: 0;
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    20% {
        left: 0;
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        left: -768px;
        opacity: 1;
    }

    45% {
        left: -768px;
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    48% {
        opacity: 0;
    }

    50% {
        left: -1536px;
        opacity: 1;
    }

    70% {
        left: -1536px;
        opacity: 1;
    }

    72% {
        opacity: 0;
    }

    74% {
        opacity: 0;
    }

    75% {
        left: -2304px;
        opacity: 1;
    }

    95% {
        left: -2304px;
        opacity: 1;
    }

    97% {
        left: -2304px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 0;
    }
}


@keyframes slider {
    0% {
        left: 0;
        opacity: 0;
    }

    2% {
        opacity: 1;
    }

    20% {
        left: 0;
        opacity: 1;
    }

    21% {
        opacity: 0;
    }

    24% {
        opacity: 0;
    }

    25% {
        left: -768px;
        opacity: 1;
    }

    45% {
        left: -768px;
        opacity: 1;
    }

    46% {
        opacity: 0;
    }

    48% {
        opacity: 0;
    }

    50% {
        left: -1536px;
        opacity: 1;
    }

    70% {
        left: -1536px;
        opacity: 1;
    }

    72% {
        opacity: 0;
    }

    74% {
        opacity: 0;
    }

    75% {
        left: -2304px;
        opacity: 1;
    }

    95% {
        left: -2304px;
        opacity: 1;
    }

    97% {
        left: -2304px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 0;
    }
}
